@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

li, ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white;
}

h1, h3 {
    padding:0;
    margin: 0;
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: rgb(14, 136, 206);
    
    grid-row:1/3;
    
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 5fr;
    row-gap:50px;
    padding: 20px;

}

.header {
    display:grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 80px 15px 15px;
    z-index: -10;

    box-shadow: 5px 5px 5px black;
}

.main-content {
    background-color: rgb(233, 239, 241);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.sidebar h1 {
    color: white;
    font-size: 1.5rem;
}

.sidebar > svg {
    min-height: 100%;
    width: 100%;
}

svg {
    color: white;
}

.sidebar ul,
.sidebar nav {
    display: flex; /*POSSIBLY RESTRUCTURE THIS FUCKING THING INTO A GRID SO IT'S SPACE BETTER*/
    flex-direction: column;
    justify-content: space-evenly;
    gap:25px;
    font-size: 1.25rem;
}

.sidebar ul {
    align-items: center;
}

.sidebar nav {
    font-size: 1rem;
    font-weight: bold;
}

.header section {
    display: flex;
    justify-content: space-between;
}

.header section > div {
    display: flex;
    align-items: center;
    gap: 25px
}

.header h3 {
    font-size: 1.25rem;
}

#hi {
    font-size: 0.95rem;
    margin: 0 0 5px 0;
}

.header button {
    font-size: 1.2rem;
}

.header svg {
    color: black;
}

input[type="text"] {
    width: 1000px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(233, 239, 241);
}

button {
    background-color: rgb(14, 136, 206);
    color: white;
    border-style: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bolder;
}

img {
    height: 100%;
}

.main-content section {
    display: grid;
}
.projects-container {
    grid-row: 1/3;

    box-sizing: border-box;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

.project-card {
    background-color: white;
}

.announcement-container {
    background-color: white;
}

.trending-container {
    background-color: white;
}

